
@{
    ViewBag.Title = "Blood Unit Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-12">
        @*<iframe src="http://52.191.118.216/Reports/report/Hoxworth/Blood%20Unit%20Tracking?rs:Embed=true" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto"  allowtransparency="false"></iframe>*@
        <div id="content">
             <iframe src="http://52.191.118.216/Reports/report/Hoxworth/Blood%20Unit%20Tracking?rs:Embed=true" name="frame2" id="frame2" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto" onload="" allowtransparency="false"></iframe>
        </div>
    </div>   
</div>


<script type="text/javascript">
    $(".main-nav li").removeClass("active");
    $('#li_blood').addClass('active');
    $(document).ready(function () {

        //document.getElementById('login').submit();

        // ﻿once you're logged in, change the source url (if needed)
        var iframe = document.getElementById('frame');
        iframe.onload = function () {
            $('#ReportViewerControl').addClass('ParametersFrameAnother');
        }
    });
</script>

